[Unit]
Description=Run AIDIS Health Check every 30 seconds
Requires=aidis.service

[Timer]
OnBootSec=30s
OnUnitActiveSec=30s
AccuracySec=1s

[Install]
WantedBy=timers.target